.clearfix:before {
    content: "";
    display: table;
    zoom: 1;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-menu{
    font: 12px Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    position: relative;
    z-index: 10000;
    /* background: #fff; */
    box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.nav-menu {
    position: relative;
    z-index: 200;
    height: 42px;
    color: #222;
}
.nav-menu .nav-con .nav-item .t {
    color: #222;
    height: 100%;
    display: block;
    padding: 0 7px;
    transition: color 0s;
}
.nav-menu .blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:url(../image/nav04.png)no-repeat;
    background-size: 100%;
    background-position: center -10px;
    background-repeat: no-repeat;
    filter: blur(4px);
}
.nav-menu .nav-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0,0%,100%,.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
.bili-wrapper {
    margin: 0 auto;
    width: 1160px;
}

#banner_link{
    background-image: url(../image/nav04.png);
    background-size: 100%;
    position: relative;
    z-index: 199;
    height: 170px;
    width: 100%;
    margin-top: -42px;
    background-position: center -10px;
    background-repeat: no-repeat;
}

/* navÊù° */
.f1{
    float: left;
    display:inline;
}
.nav-item.home{
    margin-left: -10px;
    padding-left: 12px;
}
.nav-item{
    float: left;
    text-align: center;
    line-height: 42px;
    height: 42px;
    position: relative;
    background-color: hsla(0,0%,100%,0);
    color: #222;
}