body {
    font-family: "AcFun Symbol","Helvetica Neue",Helvetica,Arial,"pingfang SC","Microsoft Yahei",STHeiti,sans-serif;
    font-size: 12px;
    color: #666;
    line-height: 1.6;
    background: #f8f8f8;
}

body,html{
    scroll-behavior: smooth;
}  
div {
    display: block;
}
.clr{
    clear: both;
}
a{
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
/* 最上层 */
.header{
    background: #fff;
    line-height: 46px;
    height: 46px;
}
.fixheader{
    position: fixed;
    background: #fff;
    z-index: 99;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}
.header-top{
    display: fixed;
}
.header .header-banner {
    height: 210px;
    position: relative;
    overflow: hidden;
    background-color: gray;
}
.header .nav {
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    position: relative;
    top: 5px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.footer {
    padding: 20px 0;
    background-color: #ececec;
    font-size: 12px;
    width: 100%;
    height: 280px;
}
#toptop{
    width: 1163px;
    margin: 0 auto;
}
.toplogo{
    vertical-align: top;
    padding-top: 7px;
    float: left;
    height: 35px;
    padding-right: 20px;
    margin-right: 20px;
}
.toptop a{
    text-decoration: none;
    color: #333;
    outline: none;   
}
.toptop a:hover{
    color:red ;
}
.gameIcon{
    widows: 60px;
    height: 10px;
    float: left;
    margin-right: 20px;
}
.gameIcon span{
    background: url(../image/game.png)no-repeat;
    background-size: 18px;
    padding-left: 25px;
    background-position: 2px;
}
.rim{
    float: left;
    width: 80px;
    height: 10px;
    margin-right: 20px;
}
.rim span{
    background: url(../image/shop.png)no-repeat;
    background-size: 23px;
    padding-left: 25px;
    background-position: 2px;
}
.credit card{
    float: left;
    width: 60px;
    height: 10px;
}
#credit-card{
    background: url(../image/card.png)no-repeat;
    background-size: 13px;
    padding-left: 25px;
    background-position: 2px;
}
.toptext{
    display: block;
    position: absolute;
    height: 32px;
    top: 7px;
    left: 41%;
    margin-left: -20px;
    width: 370px;
    float: left;
}
.toptext input{
    border: 1px solid #e5e5e5;
    border-right: none;
    padding: 8px 10px;
    height: 32px;
    line-height: 14px;
    border-radius: 3px 0 0 3px;
    width: 315px;
    vertical-align: top;
    color: #999;
    box-sizing: border-box;
    float: left;
    margin-left: 20px;
}
#topsousuo{
    float: left;
    width: 30px;
    height: 32px;
    padding-top: 3px;
    background-color:pink;
}
.topuser{
    float: right;
    width: 100px;
    height: 10px;
}
.topuser span{
    background: url(../image/topdeng.png)no-repeat;
    background-size: 13px;
    padding-left: 25px;
    background-position: 2px;
}
.topxz{
    float: right;
    width: 100px;
    height: 10px;
    margin-right: 40px;
}
.topxz span{
    background: url(../image/topxz.png)no-repeat;
    background-size: 13px;
    padding-left: 25px;
    background-position: 2px;
}
